@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    This application was developed by Adam Howard and Anthony Whitaker for CSC 440 with
    Dr. Walden at Northern Kentucky University.
</p>